<a href="https://colab.research.google.com/github/sri-go/BigDataAnalytics/blob/master/Spark_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CIS 545 Homework 3: Spark SQL

Welcome to CIS 545 Homework 3! In this homework you will gain a mastery of using Spark SQL. By the end, you'll be a star (not that you aren't already one). Over the next few days you will be using an EMR cluster to use Spark to manipulate the entire `linkedin.json` dataset from Homework 2 as well as a new data set, `stock_prices.csv`.

The goal of the homework will be to create a training dataset for a Random Forest Machine learning model. The training data set will contain the monthly number of employees hired by companies in `linkedin.json` and their corresponding closing stock prices over a 10 year period (2000-2011). We will try and predict, based on this data, if the company will have a positive or negative growth in stock in the first quarter of the next year. Who's ready to make some money?

## The Noteworthy Notes
Before we begin here are some important notes to keep in mind,


1.   **IMPORTANT!** I said it twice, it's really important. In this homework, we will be using AWS resources. You are given a quota ($150) to use for the entirety of the homework. There is a small chance you will use all this money, however it is important that at the end of every session, you **shut down your EMR cluster**.
2.   **You can only use Google Colab for this Homework** since we must connect to the EMR cluster and Jupyter doesn't do that. Using a Google Colab Notebook with an EMR cluster has two important abnormalities:
    * The first line of any cell in which you will use the spark session must be `%%spark`. Notice that all cells below have this.
    * You will, unfortunately, not be able to stop a cell while it is running. If you wish to do so, you will need to restart your cluster. See the Setup EMR Document for reference.
3.   You are **required** to use Spark SQL queries to handle the data in the assignment. Mastering SQL is more beneficial than being able to use Spark commands (functions) as it will show up in more areas of programming and data science/analytics than just Spark. Use the following [function list](https://spark.apache.org/docs/latest/api/sql/index.html#) to see all the SQL functions avaliable in Spark.
4.   Throughout the homework you will be manipulating Spark dataframes (sdfs). We do not specify any ordering on the final output. You are welcome to order your final tables in whatever way you deem fit. We will conduct our own ordering when we grade.
5. Speaking of grading, this homework introduces `The_Gallant_Grader` an astonishing autograder create by everybody's favorite TA, Leonardo Murri. After each work cell you will see a cell titled `## AUTOGRADER Step 1.X: Run this to get your score ##`. By running the cell you will get your score for a specific task. You are allowed to submit to the autograder as many times as you'd like. However, know that we can track all your submission so if you try to pull anything shady we'll figure it out.
6. There are portions of this homework that are _very_ hard. We urge you start early to come to office hours (especially Fridays and Wednesdays) and get help if you get stuck. But don't worry, I can see the future, and you all got this.

With that said, let's dive in.

## Step 0: Set up EMR

Your first task is to create an EMR cluster your AWS Educate Accounts. Please see the [attached document](https://drive.google.com/open?id=1_8NB_3QXfQKm5Vyu7XyxU2mnH5HnGM-F) for detailed instructions. Move on to Step 0.1 after you have completed all the steps in the document.

### Step 0.1: The Superfluous Setup

Run the following two cells. These will allow your colab notebook to connect to an use your EMR.

In [0]:
%%capture
!apt update
!apt install gcc python-dev libkrb5-dev
!pip install sparkmagic

In [0]:
%%capture
%load_ext sparkmagic.magics

### Step 0.2: The Succulent Spark

Now, connect your notebook to the EMR cluster you created. In the first cell, copy the link to the Master Public DNS specified in the setup document. You will need to add `http://` to the beginning of the address and the port to the end. The final format should be,

`http://<your-DNS-link>:8998`

For example, if my DNS (directly from the AWS EMR console) is `ec2-3-15-237-211.us-east-2.compute.amazonaws.com` my address would be,

`http://ec2-3-15-237-211.us-east-2.compute.amazonaws.com:8998`

Insert this in the `# TODO # below`. For our example, the cell would read,



```
%spark add -s spark_session -l python -u http://ec2-3-15-237-211.us-east-2.compute.amazonaws.com:8998
```

In [0]:
# TODO: Enter your Master Public DNS with the proper formatting and host

%spark add -s spark_session -l python -u http://ec2-54-166-207-105.compute-1.amazonaws.com:8998

## Step 1: Data Cleaning and Shaping

The data you will use is stored in an S3 bucket, a cloud storage service. You now need to download it onto the nodes of your [EMR cluster](https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-what-is-emr.html). 

### Step 1.1: The Stupendous Schema

When loading data, Spark will try to infer it's structure on it's own. This process is faulty because it will sometimes infer the type incorrectly. JSON documents, like the one we will use, can have nested types, such as: arrays, arrays of dictionaries, dictionaries of dictionaries, etc. Spark's ability to determine these nested types is not reliable, thus you will define a schema for `linkedin.json`.

A schema is a description of the structure of data. You will be defining an explicit schema for `linkedin.json`. In Spark, schema's are defined using a `StructType` object. This is a collection of data types, termed `StructField`'s, that specify the structure and variable type of each component of the dataset. For example, suppose we have the following simple JSON object,


```
{
 "student_name": "Leonardo Murri",
 "GPA": 1.4,
 "courses": [
    {"department": "Computer and Information Science",
     "course_id": "CIS 545",
     "semester": "Fall 2018"},
    {"department": "Computer and Information Science",
     "course_id": "CIS 520",
     "semester": "Fall 2018"},
    {"department": "Electrical and Systems Engineering",
     "course_id": "ESE 650",
     "semester": "Spring 2018"}
 ],
 "grad_year": 2019
 }
```

We would define it's schema as follows,

```       
schema = StructType([
           StructField("student_name", StringType(), nullable=True),
           StructField("GPA", FloatType(), nullable=True),
           StructField("courses", ArrayType(
                StructType([
                  StructField("department", StringType(), nullable=True),
                  StructField("course_id", StringType(), nullable=True),
                  StructField("semester", StringType(), nullable=True)
                ])
           ), nullable=True),
           StructField("grad_year", IntegerType(), nullable=True)
         ])
```


Each `StructField` has the following structure: `(name, type, nullable)`. The `nullable` flag defines that the specified field may be empty. Your first task is to define the `schema` of `linkedin.json`. A sample JSON object for the dataset can be found [here](http://oneclickpaste.com/194048/).

_Note_: In `linkedin.json` the field `specilities` is spelled incorrectly. This is **not** a typo. There is also no grading cell for this step.

In [0]:
%%spark

# TODO: Define [linkedin.json] schema

schema =  StructType([
          StructField("_id", StringType(), True),
          StructField("education", ArrayType(\
              StructType([
                StructField("major", StringType(),nullable = True),
                StructField("end", StringType(), nullable = True),
                StructField("name", StringType(), nullable = True),
                StructField("degree", StringType(), nullable = True),
                StructField("start", StringType(), nullable = True),
                StructField("desc", StringType(), nullable = True)
              ])), nullable=True),
          StructField("group", MapType(StringType(), ArrayType(StringType())), nullable = True),
          StructField("name", MapType(StringType(), StringType()), nullable = True),
          StructField("locality", StringType(), nullable = True),
          StructField("skills", ArrayType(StringType()), nullable = True),
          StructField("industry", StringType(), nullable = True),
          StructField("interval", IntegerType(), nullable = True),
          StructField("experience", ArrayType(
              StructType([\
                  StructField("org", StringType(), nullable = True),
                  StructField("title", StringType(), nullable = True),
                  StructField("end", StringType(), nullable = True),
                  StructField("start", StringType(), nullable = True),
                  StructField("desc", StringType(), nullable = True)
              ])
          ), nullable = True),
          StructField("summary", StringType(), nullable = True),
          StructField("interests", StringType(), nullable = True),
          StructField("overview_html", StringType(), nullable = True),
          StructField("specialties", StringType(), nullable = True),
          StructField("homepage", ArrayType(StringType()), nullable = True),
          StructField("honors", ArrayType(StringType()), nullable = True),
          StructField("url", StringType(), nullable = True),
          StructField("also_view", ArrayType(
              StructType([
                  StructField("url", StringType(), nullable = True),
                  StructField("id", StringType(), nullable = True)
              ])
          ), nullable = True),
          StructField("events", ArrayType(\
              StructType([
                  StructField("from", StringType(), nullable = True),
                  StructField("to", StringType(), nullable = True),
                  StructField("title1", StringType(), nullable = True),
                  StructField("start", IntegerType(), nullable = True),
                  StructField("title2", StringType(), nullable = True),
                  StructField("end", IntegerType(), nullable = True)
              ])
          ), nullable = True)
          ])

### Step 1.2: The Laudable Loading

Load the `linkedin.json` dataset from your S3 bucket into a Spark dataframe (sdf) called `raw_data_sdf`. If you have constructed `schema` correctly `spark.read.json()` will read in the dataset. ***You do not need to edit this cell***.

In [0]:
%%spark

raw_data_sdf = spark.read.json("s3a://grewal-545-emr/linkedin.json", schema=schema)

The cell below shows how to run SQL commands on Spark tables. Use this as a template for all your SQL queries in this notebook. ***You do not need to edit this cell***.

In [0]:
%%spark

# Create SQL-accesible table
raw_data_sdf.createOrReplaceTempView("raw_data")

# Declare SQL query to be excecuted
query = '''SELECT * 
           FROM raw_data'''

# Save the output sdf of spark.sql() as answer_sdf
answer_sdf = spark.sql(query)

# Display the first 10 rows
answer_sdf.show(10)

### Step 1.3: The Extravagent Extraction

In our training model, we are interested in when individuals began working at a company.  From creating the schema, you should notice that the collection of companies inviduals worked at are contained in the `experience` field as an array of dictionaries. You should use the `org` for the company name and `start` for the start date. Here is an example of an `experience` field,

```
{
   "experience": [
     {
        "org": "The Walt Disney Company", 
        "title" : "Mickey Mouse",
        "end" : "Present",
        "start": "November 1928",
        "desc": "Sailed a boat."
     },
     {
        "org": "Walt Disney World Resort",
        "title": "Mickey Mouse Mascot",
        "start": "January 2005",
        "desc": "Took pictures with kids."
     }
   ]
}
```

Your task is to extract each pair of company and start date from these arrays. In Spark, this is known as "exploding" a row. An explode will seperate the elements of an array into multiple rows.

Create an sdf called `raw_start_dates_sdf` that contains the company and start date for every experience of every individual in `raw_data_sdf`. Drop any row that contains a `null` in either column with `dropna()`. Remember we will sort the dataframe when grading so you can sort the elements however you wish (you don't need to if you don't want to). The sdf should look as follows:

```
+--------------------------+---------------+
|org                       |start_date     |
+--------------------------+---------------+
|Walt Disney World Resort  |January 2005   | 
|The Walt Disney Company   |November 1928  |
|...                       |...            |
+--------------------------+---------------+
```

_Hint_: You may want to do two seperate explodes for `org` and `start`. In an explode, the position of the element in the array can be extracted as well, and used to merge two seperate explodes. Reference the [function list](https://spark.apache.org/docs/2.3.0/api/sql/index.html).

_Note_: Some of the entires in `org` are "weird", i.e. made up of non-english letters and characters. Keep them. **DO NOT** edit any name in the original dataframe unless we specify. **DO NOT** drop any row unless there is a `null` value as stated before. This goes for the rest of the homework as well, unless otherwise specified.

In [0]:
%%spark

# TODO: Create [raw_start_dates_sdf]

raw_data_sdf.createOrReplaceTempView("table_1")
query = '''SELECT INLINE(experience)
           FROM table_1
           '''
table_1_sdf = spark.sql(query)
table_1_sdf.show(10)

table_1_sdf = table_1_sdf.select(table_1_sdf['org'], table_1_sdf['start']).where('org is not null and start is not null')
table_1_sdf.createOrReplaceTempView("table_2")
query = '''SELECT org, start as start_date
           FROM table_2'''

raw_start_dates_sdf = spark.sql(query)
raw_start_dates_sdf.show(10)

# Display the first 10 rows

### Step 1.4: The Fortuitous Formatting

There are two issues with the values in our `date` column. First, the values are saved as strings, not datetime types. This halts us from running functions such as `ORDER BY` or `GROUP BY` on common months or years. Second, some values do not have both month and year information or are in other languages. Your task is to filter out and clean the `date` column. We are interested in only those rows that have date in the following format "(month_name) (year)", e.g. "October 2010".

Create an sdf called `filtered_start_dates_sdf` from `raw_start_dates_sdf` with the `date` column filtered in the manner above. Keep only those rows with a start date between January 2000 to December 2011, inclusive. Ensure that any dates that are not in our desired format are ommitted. Drop any row that contains a `null` in either column. The format of the sdf is shown below:
```
+--------------------------+---------------+
|org                       |start_date     |
+--------------------------+---------------+
|Walt Disney World Resort  |2005-01-01     | 
|...                       |...            |
+--------------------------+---------------+
```
_Hint_: Refer to the [function list](https://spark.apache.org/docs/2.3.0/api/sql/index.html) to format the `date` column. In Spark SQL the date format we are interested in is `"MMM y"`.

_Note_: Spark will return the date in the format above, with the day as `01`. This is ok, since we are interested in the month and year each individual began working and all dates will have `01` as their day.

In [0]:
%%spark

# TODO: Create [filtered_start_dates_sdf]

raw_start_dates_sdf.createOrReplaceTempView("table_2")

query = '''SELECT org, to_date(start_date, 'MMM y') as new_date
           FROM table_2
           WHERE start_date IS NOT NULL
           '''
#WHERE start_date BETWEEN 'JANUARY 2000' AND 'DECEMBER 2011'
temp_sdf = spark.sql(query)

temp_sdf.createOrReplaceTempView("table_3")
query_2 = '''SELECT org, new_date as start_date
             FROM table_3
             WHERE new_date BETWEEN to_date('JANUARY 2000', 'MMM y') AND to_date('DECEMBER 2011', 'MMM y')'''

filtered_start_dates_sdf = spark.sql(query_2)
filtered_start_dates_sdf.show(10)

### Step 1.5 The Gregarious Grouping

We now want to collect the number of individuals that started in the same month and year for each company. Create an sdf called `start_dates_sdf` that has the total number of employees who began working at the same company on the same start date. The format of the sdf is shown below:

```
+--------------------------+---------------+---------------+
|org                       |start_date     |num_employees  |
+--------------------------+---------------+---------------+
|Walt Disney World Resort  |2005-01-01     |1              |
|...                       |...            |...            |
+--------------------------+---------------+---------------+
```

In [0]:
%%spark

# TODO: Create [start_dates_sdf]
filtered_start_dates_sdf.createOrReplaceTempView("table_4")

query = '''SELECT org, start_date, COUNT(org) as num_employees
           FROM table_4
           GROUP BY org, start_date'''

start_dates_sdf = spark.sql(query)
#start_dates_sdf.show(10)

## Step 2: Hiring Trends Analysis

Now we will analyze `start_dates_sdf` to find monthly and annual hiring trends.

### Step 2.1: The Marvelous Months

Your task is to answer the question: "On average, what month do most employees start working?" Create an sdf called `monthly_hires_sdf` which contains the total number of employees that started working on a specific month, at any company and on any year. The `month` column should be of type `int`, i.e. 1-12. The format of the sdf is shown below:

```
+---------------+---------------+
|month          |num_employees  |
+---------------+---------------+
|1              |...            |
|2              |...            |
|3              |...            |
|...            |...            |
+---------------+---------------+
```

Find the month in which the most employees start working and save it's number as an integer to the variable `most_common_month`.

_Hint_: Be careful. The starts dates we have right now have both month and year. We only want the common months. See if you can find something in the [function list](https://spark.apache.org/docs/2.3.0/api/sql/index.html) that will help you do this.

In [0]:
%%spark

# TODO: Create [monthly_hire_sdf] and find the most common month people were

start_dates_sdf.createOrReplaceTempView('table_4')

query = '''SELECT month(start_date) as month, sum(num_employees) as num_employees
           FROM table_4
           GROUP BY month'''


monthly_hires_sdf = spark.sql(query)

monthly_hires_sdf.createOrReplaceTempView('table_5')

query_2 = '''SELECT MAX(num_employees) as num_employees
             FROM table_5'''

temp_table_sdf = spark.sql(query_2)
temp_table_sdf.show(1)
temp_table_sdf.createOrReplaceTempView('table_6')

query_3 = '''SELECT t_1.month as month
             FROM table_5 as t_1
             JOIN table_6 AS t_2 ON t_1.num_employees = t_2.num_employees'''

max_month_sdf = spark.sql(query_3)
most_common_month = 1

### Step 2.2: The Preposterous Percentages

The next question we will answer is "What is the percentage change in hires between 2010 and 2011 for each company?" Create an sdf called `percentage_change_sdf` that has the percentage change between 2010 and 2011 for each company. The sdf should look as follows:

```
+---------------------------+--------------------+
|org                        |percentage_change   |
+---------------------------+--------------------+
|Walt Disney World Resort   |12.3                |
|...                        |...                 |
+---------------------------+--------------------+
```

_Note_: A percentage change can be positive or negative depending 
on the difference between the two years.The formula for percent change is given below,

$$\text{% change} = \frac{P_f-P_i}{P_f} \times 100$$

Here, $P_f$ is the final element (in this case the number of hires in 2011) and $P_i$ is initial element (the number of hires in 2010).

_Hint_: This is a **difficult** question. I'm really sorry. We recommend using a combination of `GROUP BY` and `JOIN`. Keep in mind that operations between columns in SQL dataframes are often easier than those between rows. Come to office hours if you need help. Especially **Fridays** and Wednesdays _*cough *cough_.

In [0]:
%%spark
# TODO: Create [percentage_change_sdf]
filtered_start_dates_sdf.createOrReplaceTempView('new_table_1')
query_1 = '''SELECT org, count(*) as num_employees_2010
             FROM new_table_1
             WHERE year(start_date) = 2010
             GROUP BY org'''
temp_1_sdf = spark.sql(query_1)

filtered_start_dates_sdf.createOrReplaceTempView('new_table_2')
query_2 = '''SELECT org, count(*) as num_employees_2011
             FROM new_table_2
             WHERE year(start_date) = 2011
             GROUP BY org'''
temp_2_sdf = spark.sql(query_2)

temp_1_sdf.createOrReplaceTempView('new_table_3')
temp_2_sdf.createOrReplaceTempView('new_table_4')

query_3 = '''SELECT t_1.org, 
             ((t_2.num_employees_2011-t_1.num_employees_2010)/(t_2.num_employees_2011))*100 as percentage_change
             FROM new_table_3 as t_1
             JOIN new_table_4 as t_2 
             ON t_1.org = t_2.org'''

percentage_change_sdf=spark.sql(query_3)
#percentage_change_sdf.show(5)

## The Bountiful Break

That last question was hard. And it's gonna get harder. Take a break. Sit back and relax for a minute. Listen to some music. Here's a [suggestion](https://www.youtube.com/watch?v=9Crm6xJLJgs).

In the cell below fill out the boolean variable `whatd_you_think` with `True` if you liked it or `False` if you didn't. You will be graded on your response.

In [0]:
%%spark

# TODO: Listen to some music
whatd_you_think = True

## Step 3: Formatting the Training Data


Our overaching goal is to train a machine learning (ML) model that will use the monthly hiring trends of a company to predict a positive or negative gain in the company's stock in the first quarter of the following year. A ML model is trained on a set of observations. Each observation contains a set of features, `X`, and a label, `y`. The goal of the ML model is to create a function that takes any `X` as an input and outputs a predicted `y`. 

The machine learning model we will use is a [Random Forest Classifier](https://builtin.com/data-science/random-forest-algorithm). Each observation we will pass in will have 24 features (columns). These are the number of people hired from Jan to Dec and the company stock price on the last day of each month. The label will be the direction of the company's stock percentage change (positive, `1`, or negative, `-1`) in the first quarter of the following year. Each observation will correspond to a specified company's trends on a specified year. The format of our final training sdf is shown below. The first 26 columns define our observations, `X`, and the last column the label, `y`.
```
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
|org |year |jan_hired |   ...   |dec_hired |jan_stock |   ...   |dec_stock |stock_result |
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
|IBM |2008 |...       |   ...   |...       |...       |   ...   |...       |1            |
|IBM |2009 |...       |   ...   |...       |...       |   ...   |...       |-1           |
|... |...  |...       |   ...   |...       |...       |   ...   |...       |...          |
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
```

_Note_: We will use the first three letters of each month in naming, i.e. `jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec`



### Step 3.1: The Harmonious Hires

Your first task is to create the first half of the training table, i.e. the `jan_hired` through `dec_hired` columns. This will involve reshaping `start_dates_sdf`. Currently, `start_dates_sdf` has columns `org`, `start_date`, and `num_employees`. We want to group the rows together based on common `org` and years and create new columns for the number of employees that started working in each month of that year.

Create an sdf called `raw_hirings_for_training_sdf` that has for a single company and a single year, the number of hires in Jan through Dec, and the total number of hires that year. Note that for each company you will have several rows corresponding to years between 2000 and 2011. It is ok if for a given company you don't have a given year. However, ensure that for a given company and given year, each month column has an entry, i.e. if no one was hired the value should be `0`. The format of the sdf is shown below: 
```
+----+-----+----------+---------+----------+----------+
|org |year |jan_hired |   ...   |dec_hired |total_num |
+----+-----+----------+---------+----------+----------+
|IBM |2008 |...       |   ...   |...       |...       |
|IBM |2009 |...       |   ...   |...       |...       |
|... |...  |...       |   ...   |...       |...       |
+----+-----+----------+---------+----------+----------+
```
_Hint_: This is a **difficult difficult** question. I'm really really sorry. The tricky part is creating the additional columns of monthly hires, specifically when there are missing dates. In our dataset, if a company did not hire anybody in a given date, it will not appear in `start_dates_sdf`. We suggest you look into `CASE` and `WHEN` statements in the [function list](https://spark.apache.org/docs/2.3.0/api/sql/index.html).

In [0]:
%%spark

# TODO: Create [raw_hire_train_sdf]

start_dates_sdf.createOrReplaceTempView("table_1")
query = '''SELECT org, year(start_date) as year, 
           MAX(CASE month(start_date) WHEN 1 THEN num_employees ELSE 0 END) AS jan_hired,
           MAX(CASE month(start_date) WHEN 2 THEN num_employees ELSE 0 END) AS feb_hired,
           MAX(CASE month(start_date) WHEN 3 THEN num_employees ELSE 0 END) AS mar_hired,
           MAX(CASE month(start_date) WHEN 4 THEN num_employees ELSE 0 END) AS apr_hired,
           MAX(CASE month(start_date) WHEN 5 THEN num_employees ELSE 0 END) AS may_hired,
           MAX(CASE month(start_date) WHEN 6 THEN num_employees ELSE 0 END) AS jun_hired,
           MAX(CASE month(start_date) WHEN 7 THEN num_employees ELSE 0 END) AS jul_hired,
           MAX(CASE month(start_date) WHEN 8 THEN num_employees ELSE 0 END) AS aug_hired,
           MAX(CASE month(start_date) WHEN 9 THEN num_employees ELSE 0 END) AS sep_hired,
           MAX(CASE month(start_date) WHEN 10 THEN num_employees ELSE 0 END) AS oct_hired,
           MAX(CASE month(start_date) WHEN 11 THEN num_employees ELSE 0 END) AS nov_hired,
           MAX(CASE month(start_date) WHEN 12 THEN num_employees ELSE 0 END) AS dec_hired,
           SUM(num_employees) as total_num
           FROM table_1
           GROUP BY org, year'''

raw_hire_train_sdf = spark.sql(query)
raw_hire_train_sdf.show(10)

### Step 3.2: The Formidable Filters

Create an sdf called `hire_train_sdf` that contains all the observations in `raw_hire_train_sdf` with `total_num` greater than or equal to 500. The format of the sdf is shown below:

```
+----+-----+----------+---------+----------+----------+
|org |year |jan_hired |   ...   |dec_hired |total_num |
+----+-----+----------+---------+----------+----------+
|IBM |2008 |...       |   ...   |...       |...       |
|IBM |2009 |...       |   ...   |...       |...       |
|... |...  |...       |   ...   |...       |...       |
+----+-----+----------+---------+----------+----------+
```

In [0]:
%%spark

# TODO: Create [hire_train_sdf]
raw_hire_train_sdf.createOrReplaceTempView("table_new")

query = '''SELECT * 
           FROM table_new
           WHERE total_num >= 500'''
           
hire_train_sdf = spark.sql(query)
hire_train_sdf.show(10)

### Step 3.3: The Stupendous Stocks

Now we are ready for the stock data. The stock data we will use is saved in the same S3 bucket as `linkedin.json`. Load the data into the EMR cluster. Run the cell below. ***You do not need to edit this cell***.

In [0]:
%%spark

# Load stock data
raw_stocks_sdf = spark.read.format("csv") \
              .option("header", "true") \
              .load("s3a://grewal-545-emr/stock_prices.csv")

# Creates SQL-accesible table
raw_stocks_sdf.createOrReplaceTempView('raw_stocks')

# Display the first 10 rows
query = '''SELECT *
           FROM raw_stocks'''
spark.sql(query).show(10)

Run the cell below to see the types of the columns in our data frame. These are not correct. We could have defined a schema when reading in data but we will handle this issue in another manner. You will do this in Step 3.4.2.

In [0]:
%%spark 

# Print types of SDF
raw_stocks_sdf.dtypes

### Step 3.4 The Clairvoyant Cleaning

We now want to format the stock data set into the second half of the training table. We will then merge it with `hire_train` based off the common `org` and `year` fields. The formatting will consist of 4 steps. Actually, it is 5.

#### Step 3.4.1 The Ubiquitous UDF

The companies in our stock dataset are defined by their stock tickers. Thus, we would not be able to merge it with the `org` field in `hire_train_sdf`. We must convert them to that format. Often times when using Spark, there may not be a built-in SQL function that can do the operation we desired. Instead, we can create one on our own with a user-defined function (udf).

A udf is defined as a normal Python function and then registered to be used as a Spark SQL function. Your task is to create a udf, `TICKER_TO_NAME()` that will convert the ticker field in `raw_stocks` to the company's name. This will be done using the provided `ticker_to_name_dict` dictionary. We are only interested in the companies in that dictionary.

Fill out the function `ticker_to_name()` below. Then use `spark.udf.register()` to register it as a SQL function. The command is provided. ***You do not need to edit it***. Note, we have defined the udf as returning `StringType()`. Ensure that your function returns this. You must also deal with any potential `null` cases.

In [0]:
%%spark

# TODO: Fill out [ticker_to_name()] and register it as a udf.

# Dictionary linking stock ticker's to their name
ticker_to_name_dict = {'NOK': 'Nokia',
                       'UN': 'Unilever',
                       'BP': 'BP',
                       'JNJ': 'Johnson & Johnson',
                       'TCS': 'Tata Consultancy Services',
                       'SLB': 'Schlumberger',
                       'NVS': 'Novartis',
                       'CNY': 'Huawei',
                       'PFE': 'Pfizer',
                       'ACN': 'Accenture',
                       'DELL': 'Dell',
                       'MS': 'Morgan Stanley',
                       'ORCL': 'Oracle',
                       'BAC': 'Bank of America',
                       'PG': 'Procter & Gamble',
                       'CGEMY': 'Capgemini',
                       'GS': 'Goldman Sachs',
                       'C': 'Citi',
                       'IBM': 'IBM',
                       'CS': 'Credit Suisse',
                       'MDLZ': 'Kraft Foods',
                       'WIT': 'Wipro Technologies',
                       'CSCO': 'Cisco Systems',
                       'PWC': 'PwC',
                       'GOOGL': 'Google',
                       'CTSH': 'Cognizant Technology Solutions',
                       'HSBC': 'HSBC',
                       'DB': 'Deutsche Bank',
                       'MSFT': 'Microsoft',
                       'HPE': 'Hewlett-Packard',
                       'ERIC': 'Ericsson',
                       'BCS': 'Barclays Capital',
                       'GSK': 'GlaxoSmithKline'}

# Fill out ticker_to_name()
def ticker_to_name(ticker):
    keys = ticker_to_name_dict.keys()
    if ticker in keys:
       return ticker_to_name_dict.get(ticker)
    else:
      return None

# Register udf as a SQL function. DO NOT EDIT
spark.udf.register("TICKER_TO_NAME", ticker_to_name, StringType())

#### Step 3.4.2: The Fastidious Filters

With our new `TICKER_TO_NAME()` function we will begin to wrangle `raw_stocks_sdf`.

Create an sdf called `filter_1_stocks_sdf` as follows. Convert all the ticker names in `raw_stocks_sdf` to the company names and save it as `org`. Next, convert the `date` field to a datetime type. As explained before this will help order and group the rows in future steps. Then, convert the type of the values in `closing_price` to `float`. This will take care of the `dtypes` issue we saw in Step 3.3.

Drop any company names that do not appear in `ticker_to_name_dict`. Keep any date between January 1st 2001 and December 4th 2012 inclusive, in the format shown below (note this is a datetime object not a string):

```
+----+------------+--------------+
|org |date        |closing_price |
+----+------------+--------------+
|IBM |2000-01-03  |...           |
|... |...         |...           |
+----+------------+--------------+
```
_Hint_: You will use a similar function to filter the dates as in Step 1.4. In Spark SQL the format for the `date` field in `raw_stocks_sdf` is `"yyyy-MM-dd"`.

In [0]:
%%spark

# TODO: Create [filter_1_stocks_sdf]
raw_stocks_sdf.createOrReplaceTempView('table_1')
keys = ticker_to_name_dict.keys()

query = '''SELECT TICKER_TO_NAME(ticker) as org, to_date(date, 'yyyy-MM-dd') as date, float(closing_price) as closing_price
           FROM table_1
           WHERE TICKER_TO_NAME(ticker) IS NOT NULL'''

temp_1 = spark.sql(query)

temp_1.createOrReplaceTempView('table_2')
query_2 = '''SELECT * 
             FROM table_2
             WHERE date BETWEEN to_date('2001-01-01', 'yyyy-MM-dd') AND to_date('2012-12-04', 'yyyy-MM-dd')'''
           
filter_1_stocks_sdf = spark.sql(query_2)
filter_1_stocks_sdf.show(10)

#### Step 3.4.3: The Magnanimous Months

The data in `filter_1_stocks_sdf` gives closing prices on a daily basis. Since we are interested in monthly trends, we will only keep the closing price on the **last trading day of each month**.

Create an sdf `filter_2_stocks_sdf` that contains only the closing prices for the last trading day of each month. Note that a trading day is not simply the last day of each month, as this could be on a weekend when the market is closed . The format of the sdf is shown below:

```
+----+------------+--------------+
|org |date        |closing_price |
+----+------------+--------------+
|IBM |2000-01-31  |...           |
|... |...         |...           |
+----+------------+--------------+
```

  _Hint_: This is a **difficult** question. But if you made it this far, you're a star by now. It may be helpful to create an intermediate dataframe that will help you filter out the specific dates you desire.

In [0]:
%%spark

# TODO: Create [filter_2_stocks_sdf]
filter_1_stocks_sdf.createOrReplaceTempView('table_1')
query = '''SELECT org, MAX(date) as date
           FROM table_1
           GROUP BY org, year(date), month(date)
           ORDER BY date ASC'''

temp_sdf = spark.sql(query)

temp_sdf.createOrReplaceTempView('t_1')
query_1 = '''SELECT t_1.org, t_1.date, t_2.closing_price
             FROM t_1 as t_1, table_2 as t_2
             WHERE t_1.date = t_2.date 
             AND t_1.org = t_2.org'''

filter_2_stocks_sdf = spark.sql(query_1)
filter_2_stocks_sdf.show(10)

#### Step 3.4.4: The Rambunctious Reshape

Now, we will begin to shape our dataframe into the format of the final training sdf.

Create an sdf `filter_3_stocks_sdf` that has for a single company and a single year, the closing stock price for the last trading day of each month in that year. This is similar to the table you created in Step 3.1. In this case since we cannot make a proxy for the closing price if the data is not avaliable, drop any rows containing any `null` values, in any column. The format of the sdf is shown below:

```
+----+-----+----------+---------+----------+
|org |year |jan_stock |   ...   |dec_stock |
+----+-----+----------+---------+----------+
|IBM |2008 |...       |   ...   |...       |
|IBM |2009 |...       |   ...   |...       |
|... |...  |...       |   ...   |...       |
+----+-----+----------+---------+----------+
```

In [0]:
%%spark

# TODO: Create [filter_3_stocks_sdf]

filter_2_stocks_sdf.createOrReplaceTempView('table_1')
query = '''SELECT org, year(date) as year,
           MAX(CASE WHEN month(date) = 1 THEN closing_price ELSE NULL END) AS jan_stock,
           MAX(CASE WHEN month(date) = 2 THEN closing_price ELSE NULL END) AS feb_stock,
           MAX(CASE WHEN month(date) = 3 THEN closing_price ELSE NULL END) AS mar_stock,
           MAX(CASE WHEN month(date) = 4 THEN closing_price ELSE NULL END) AS apr_stock,
           MAX(CASE WHEN month(date) = 5 THEN closing_price ELSE NULL END) AS may_stock,
           MAX(CASE WHEN month(date) = 6 THEN closing_price ELSE NULL END) AS jun_stock,
           MAX(CASE WHEN month(date) = 7 THEN closing_price ELSE NULL END) AS jul_stock,
           MAX(CASE WHEN month(date) = 8 THEN closing_price ELSE NULL END) AS aug_stock,
           MAX(CASE WHEN month(date) = 9 THEN closing_price ELSE NULL END) AS sep_stock,
           MAX(CASE WHEN month(date) = 10 THEN closing_price ELSE NULL END) AS oct_stock,
           MAX(CASE WHEN month(date) = 11 THEN closing_price ELSE NULL END) AS nov_stock,
           MAX(CASE WHEN month(date) = 12 THEN closing_price ELSE NULL END) AS dec_stock
           FROM table_1
           GROUP BY org, year'''

filter_3_stocks_sdf = spark.sql(query).dropna()
filter_3_stocks_sdf.show(10)

#### Step 3.4.5: The Decisive Direction

The final element in our training set is the binary output for each case, i.e. the `y` label. 

Create an sdf `stocks_train_sdf` from `filter_3_stocks_sdf` with an additional column `direction`. This should be the direction of percentage change in the closing stock price, i.e. `1` for positive or `-1` for negative, in the first quarter of a given year. The quarter of a year begins in January and ends in April, inclusive. We want to know the percent change between these two months. Reference Step 2.2 for the percent change formula. The format of the sdf is shown below:

```
+----+-----+----------+---------+----------+-------------+
|org |year |jan_stock |   ...   |dec_stock |direction    |
+----+-----+----------+---------+----------+-------------+
|IBM |2008 |...       |   ...   |...       |1.0          |
|IBM |2009 |...       |   ...   |...       |-1.0         |
|... |...  |...       |   ...   |...       |...          |
+----+-----+----------+---------+----------+-------------+
```

In [0]:
%%spark

filter_3_stocks_sdf.createOrReplaceTempView('table_1')
query = '''SELECT *, 
           CASE WHEN (((t_1.apr_stock-t_1.jan_stock)/(t_1.apr_stock))*100) >0 THEN 1 ELSE -1 END AS direction
           FROM table_1 as t_1'''

stocks_train_sdf = spark.sql(query)
stocks_train_sdf.show(10)

### Step 3.5: The Capricious Combination

Now that we have individually created the two halfs of our training data we will merge them together to create the final training sdf we showed in the beginning of Step 3.

Create an sdf called `training_sdf` in the format of the one shown at the beginning of Step 3. Note that in our definition for the `stock_result` column, the `stock_result` value for a particular year corresponds to the direction of the stock percentage change in the **following** year. For example, the stock_result in the `2008` row for `IBM` will contain the direction of IBM's stock in the first quarter of 2009. The format of the sdf is shown below:
```
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
|org |year |jan_hired |   ...   |dec_hired |jan_stock |   ...   |dec_stock |stock_result |
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
|IBM |2008 |...       |   ...   |...       |...       |   ...   |...       |-1.0         |
|IBM |2009 |...       |   ...   |...       |...       |   ...   |...       |1.0          |
|... |...  |...       |   ...   |...       |...       |   ...   |...       |...          |
+----+-----+----------+---------+----------+----------+---------+----------+-------------+
```

In [0]:
%%spark

# TODO: Create [training_sdf]

hire_train_sdf.createOrReplaceTempView('table_1')
stocks_train_sdf.createOrReplaceTempView('table_2')

query = '''SELECT t_1.org, t_1.year, t_1.jan_hired, t_1.feb_hired, t_1.mar_hired,t_1.apr_hired, t_1.may_hired,
           t_1.jun_hired, t_1.jul_hired, t_1.aug_hired, t_1.sep_hired, t_1.oct_hired, t_1.nov_hired, t_1.dec_hired,t_2.jan_stock, t_2.feb_stock, 
           t_2.mar_stock, t_2.apr_stock, t_2.may_stock, t_2.jun_stock, t_2.jul_stock, t_2.aug_stock, t_2.sep_stock, t_2.oct_stock, t_2.nov_stock, t_2.dec_stock
           FROM table_1 as t_1, table_2 as t_2
           WHERE t_1.org = t_2.org AND t_1.year = t_2.year'''

temp_sdf = spark.sql(query)
temp_sdf.createOrReplaceTempView('table_3')

query_2 
query_1 = '''SELECT t_3.*, t_2.direction as stock_result
             FROM table_3 as t_3, table_2 as t_2
             WHERE t_3.org = t_2.org AND t_3.year + 1 = t_2.year'''
training_sdf = spark.sql(query_1)

## Step 4: Running the Model

Well here we go. Who's ready to make some money? Well... it's not gonna happen. We didn't code the random forest model, sorry blame ESE 530. The remainder of the course will be about machine learning and we will learn how to take this beautiful data and make billions of dollars, here is some cool ASCII for the meantime.

One last thing, as I predicted before, you're a star.

```

``````````````````````````````````....-:/+ooooo++/:-..``````````````................://-` ``````````
``````````````````````````````.-/syhhhhhdhhhhhdhhhhhyssso+/-.```````................://-` ``````````
`````````````````````````````.+syhhhhdddddmmddhdddhyyyhhhhhhyo+:.```................://-` ``````````
`````````````````````..-:/+++osyhddhddddmmmmdddddddhhhyhddhdddhhhs:.................://-` ``````````
``````````````````.-/osssyyyyyyyhyyyhdddmmmmmmmmddmhhdddyhddddmdhddyo:......`.......://.` ``````````
`````````````````-/oyyhhdmmmdddddddddhhhdddmmdmmmdmmmdddddhhddhhddhdmy+-....`.......://-` ``````````
```````````````./syhhhddmmmmmNNNmNmmmmmmmddddddddmmmmNmdmmddddmdhhddhdds:...........://-` ``````````
`````````````./syyyyhhhdddmmmmmNmmmmmmmmmmmdddddhddmddmmmmmmmdddmdhhddyhh+-.........://.` ``````````
````````````-oyysyyyhhhhhhhdddmmmdddddmmmmmddddmdddddddmmmmmmmmmdddhyddhhdy:.......-///.` ``````````
```````````/yyssyhhhdddhyyssyyyyyyyyyyyhhhhdddddmddddhydmmmmmmmmmmhhyhhhdhyy:.......///.` ``````````
`````````./yyssyydddddhysooooooooooossssssyyhhhhddmdddmhhmmmmmmmddmdhhhhhddhy-......///.````````````
````````./yhssyhddmmdyso+++++++oooooooooosssyhhhhdddddmmdmmNNNmmmmddmddhhhhdho......///-````````````
````````.shysydhmdNmyoo+++++++++++++++ooooossyyhhhhhddmmmmdNNNNNmmmdhdmdhhhhyy:....-///-````````````
````````.ohyyhddmmmyoo++++++++++++++++++ooossssyyyyyhhdmddmmmNNNNmdmdhhddhhhyy:....-///-````````````
```````..+yyyddmmmdso+++++///+++++++++++oooosssssyyyyyhdmmdmmmmmmNmddhyhdhyysy+....-///-````````````
````````.:oyyhhmmmho++//////+/++++++++++ooooossssssyyyhhddmmmNNmmmmmmdhhhddyhss....-///-````````````
..```````./syyhdmmyo++/////++/+++++++++++oooossssyyhhyhhhhddmNNNNNmmmddmdhmhyss-...-///-````````````
`..``````..+yyhddmy+++/////////+/////++++oosyyhhddmmmmddhhhhddmNNNNmdhhmmdmhsso-...-///-````````````
......`````-+hydddsooo+++++++///////++osyhmmmmNNNNNNNmmmmdhhhddmNNNNmhhdmmdhss+-...-///.````````````
......`````..:syddhyhhhdddhyyso+++++ossyddmddhhyyyhhhhhhddhhhhhdmNNNmhydmmdhyo+-...-//:.````````````
......`````.`.:ohddddddhhhhhyysoooooosyyhyyyssssyyyyyyyhhhhhyyyyhdmmmdhdmNdhhs+-...-///.````````````
``````````````./yhyyoo++oossyssso++oosyhyysyhhhhddmdddhyhdhsyyssyhdddddddddddy+:...-///-````````````
`````````````.:++/oo++osyhhhhyyyysosydddhhhddyshdmmddddhdddhhyssssyyhhhhhhhhdhs:...-///-.```````````
````````````.-++::/+shyoddmmhhyhyo+oshmmmhhhhyyyyssyyyyyyyhyyyyssoosyyyhhhyyyhs:...-///-.```````````
``````......``./:://oooossyyyosso++osyhddhsssssssssssssssyyyyyysoo+oosyhddhysss:...-///:.``....`````
``````..........:://+++oooooo+oo++oosyhhhhyssoooooooooossssssyysooo+osyyhhhyyss+...-///:.``......`..
`````````........-/+//++++++++++++oosyyyyhhyyssoooo+oooossssssssooooosyyyhyyyyyo-..-///:.``.........
````````````````..://///++++++//+++osyyysysyhhys+++++++oosssssssssooosyyhhyssyh+...-///:.``.........
`````````````````.///////++++osssosyhddmmhsyhdhyso++++ooossssssssssoosyyyyssshd:...-///-.``.........
`````````````````.///////++++sysssossyyyyyyyhyyyssoooooosssyyyyysssoossyysosdNh:...-///-.```....````
````````..````````://///+++/+++ooo+oooosssyyyyyyyyssooosssyyyyyysssoossyyyhNNms:...-///-````````````
```````....```````-//+//+++++++++++++++ooossyyyyhhhyyssssyyyyyyyysssossyhmMMNmo-...-///.````````````
```````....```````./++//+++++++++++++++oossssssyhhhhyyyyssyyyssyyssssosyymMNNm+....-///-````````````
````````...````````-///+++++++oooooosssyyyyhyhhhdhdhhyyyssyyyssyyyyssssssdMMNm+....-///-````````````
```   `````````````.////++ooyhy++////+//oooyosdydmmhysoooyyhsosyyyyyssssshMMNm+....-///-````````````
```    `````````````-////+oshmyosso++ooosyhdhhmdddhsoooosyyyosyyyhyyyysssyNMMm/....-///-````````````
````````````````````.:////+++osooooooosssyyhhhhhyyysosssyhyssyhhhhhyyyyysymdh/.....-///-.````...````
`.```````````````````.////+++//++++ooossssssssssyyssssyyhyssyhhhhhhhhyyyso:-.......-///-..``.`.`````
`.````````````````````./++++++//+++ooooooosssssyyssssyhhhyyhdddhhdhhhhyys+:----....-///-..``...`````
..`````````````````````./++//++++++++oooooosssysssssyyhhhhddddddddddhhyyssmmmmd/...-///-.```..``````
..````````````````````...:++/////++++++++ooosssssssyhhhhhdddddddddddhhyyyydNNmyo:..-///-.```..``````
..````````````````````.....:///////+++++ooossssssyhhhhhddddddmdddddhhhhhhddhhyso+-.-///-..``..``````
`.``````` `````````````...``./+/+++++ooooosssyyyhdddddddddmmmdddhhyyhhhddhyyyysso/--///:..``....````
`.``````` `````````````..`````-+oooosssssyyyhhdddddddmmmmmmddhhhyyyhhhhyyyyyyyssoo/-/+/:..``.....```
..``````  `````````````````````.-+yyyhhhhhhhddddddmmmmdddddhhyyyyyyyyyyyyyyyyysssoo+/oo:..``.....```
..````     ```````````````````````./syhhhhhdddddmmddddddhhyyysyyyysssssssssysysssssyhdmy:.``.....```
.````       ```````````````````````.+osyyhhhhhhhhhhhyyyyyssssssssssssssssssssssssydmNNNmmhs:....````
.`````      ``````````````````````-+y+oooossssssyyyssyyyssosssssssossssssssssssyydMNNNNNmmddy/-.````
....```    `````````````````````.:osss++++oooossssssyyyssoooooooooossssssoosssyyhNNNNNNNNNNNmdhs:```
```

```
                                             ``.--::::::-`                                          
                                       `.-:/+syyhyyyyssssso:.--.`                                   
                                   .:/+++osyhhhhhyyyyyyyyyyyyyyyyo/-`                               
                                `/++//+osyhhdhhhhhhhhhhhhhddhsoosyhhy/`                             
                              .+ss+//+syhhhhddddddddddhhhhhhsooosyyhhhy:                            
                            .+yhs++/+osyyyhhhhddhhhyyysysyssooossyyyhdhhs:``                        
                          .+syhyo+/+ossosssshdhyoo+/////+++++ossyyhhhhddhhs:``                      
                        `:ooshhso++ossooooosyyo/::--------::/+osyhhhddddddhhs-`                     
                       ./++ohhys++ooss++oooso/:---..--------::/osyhhdhhdddddhy/`                    
                     `/+///syys++osyoooo+oo+:-.......-------:::/+oyhdddddhhhhhs/`                   
                   `:so++++ssssoossooss+o+:-..........-------:::/++shddddddhhhys/`                  
                 `.+ssoooo+ooosso+osys++/-...`.......-------::::///+shhdmdddhyyyy:                  
              ``.:+ooossyso+oooooosss+/-..............------::::://+syhhdmmdhhhyyo`                 
              `:+oosssyyss+/o+ossooo+:-...`...........-------:::://+oyyhhdddhyyyyo`                 
              `:oosssyysyo//+oosooo+/.................-------:::://+oyyyhhdhddyoss-                 
             `.+ooossssss+++ooooso+/:.................------::::///+oyyyyhhhydhsss/``               
            ` :oo++++osoo/++ooooo++/-.................-------:::///+osyyyyhhohdysso:-.`` ````       
             `+osso++++++/+++oos+//:-..............----:::/+ooooossssyyyyyhhyddhyso+oo++////:-`     
            `/osyyyo++++///++sso+/+/://+oooo+/:------:/+syyhhyssssssyyhhhhhdmmdhhyoooyhhysoooo:`    
          `.:+ssyyyyssso+//++sso+++:///+oosoo+/:-----/shhhyo+/++osyhyyhhhhhdmmmhhysoosddhyso+/:.`   
         `.-:ossyyhhyyyyssoooyssooo+//++ssoo+++/-..-:ohhs++++shhhyyhhyyyyhhhddmdhyyssshddhys/-.`    
      ....-:+oossyhhyyhhhyyysyyyyyyso+yyho/+/:---...:syo///::/+oooshhysooyhhddmdhyyyyyydddy+/:.     
     `.::::/+++ossssyyhhhhyhyhhhyys+:-:::///:----...-+so+////+++oossso+/+yhddmmmmddyyyhhdhy/--`     
      -::/+++ooo++ooosyyyhhhhhhhys+/::://::--....-..-/so//::::://///////+yhdmmmmdddhyyyhhys:`-`     
      ./++++oo++++++++ossyyyyhhys+/:-...............-:oso/::::-----:://+syhdmmmddhhdyyyyyso```      
     .::/+++oosssssoo++++ossyyyo/-..................--+sso/::-------://oyhhdmmdddddddyyyyo-`        
    `/.:+oooosooosyyyyysssooss+:--..`.........--.....-/osos+/:------:/+syhddmmmddmmmddyyo+`         
    `/-/+ossssso+osyhhhhhyyhdy/:---.......----.--....-/sysys++/:::::/+oyhdddmmmmmddddhhs/.          
     `  `:oyhyso+osyyyhhhhhddy/:-------://:---:://--:/yddddyo++//++++syddhddmmmmmmmmddh+            
          .ss+ooosyyhhyhhhhhhs/::::-:/++:------/+++oshdmdhysoooooo/+oyhhhhhmNmmmmmmmdh+`            
          `/o-+oosyyyhhhhddddo/::::::++::--------::+osssssosssyyo+:/syyyhhdmmmmmddhyy/              
           `:+:-:/+syyyhhddddy/:--::-///:+oo+///::://+osyyhhdhs+/--ohssyhhmmmmmmddhs-               
            `.:/:-:oyhhhdddmmd+/:--::---..-://///:://///+ossso+/::oysoshhdddmmddhhs`                
              ``  -yhhhhddddddh+/:---:--...---::::::://+osssso+//oyysyhhdmhyhsohs.                  
                  .oysyyhhhddddh+/::-----...-----:::///++ooo++/+yhyyhdhhmmmmmdhy:                   
                  `.:+oossssyhdhh+//:::---...----::::////+++//oyhhhhdhhh++//:-`                     
                    ``--.`..-:+/s+++/::::--....-------::///:/+shhhhhhddhh/``                        
                      ````````--://+++/:::--........---:::-:+syddhhddddh/-`                         
                      `````````..:::/+o+/:::---..---:-::://+sydddddmdddh.                           
                       ``````````:::::/+o+//:::::::::://++oyhddddmmmdddh.                           
                      ```````````::---::/+oo+//////+++oosyhddddmmmmmdddh.                           
                      ``````````-::-----::/+oossyyyyyyyhhdddmmmmmmdddddh.                           
                     .:+ssooo/::::--------:://++osyhhhddmmmmmmmmddddddhh:`                          
                    -ooydhyo/:::::---------::::://++ossyyhhhddddddddhhhhhdy/`                       
                  `-oooyy+::----:----------:::::///++++osyyhhhddddhhhhhhhmmmdo.                     
                `-+ooooo+--------------------::://///++osyyyhhhdhhhhhhhhhddmmdh/`                   
             `-/+ooooooo+-.....----------------:::///++ossyyyyhhhhhhhhhhhddhdddhs:.                 
          `-/oooooooooooo:.....----------------:::::://++ooosyhhhyyhhhhhhdhhyhhhyyys:`              
       `-/+oooooooooooooo+-.......--------------::::::///++osyhhyyhhhhhhhhhhysyyyyyhhy/. 

```